
<% @users = User.all %>
<div class="col-md-2"></div>
<div class="col-md-4">
  <h1>Users</h1>
  <p>All Users:</p>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><a class="btn btn-info">Show</a></td>
        <td><a class="btn btn-info">Edit</a></td>
        <td><a class="btn btn-danger">Delete</a></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
