<h1>FundMe</h1>


<%= link_to "New User", new_user_path, class: 'button' %>
<%= link_to "View All Users", users_path, class: 'button' %>

<%= link_to "New Project", new_project_path, class: 'btn btn-small' %>
<%= link_to "View All Projects", projects_path, class: 'button' %>