
<body>
<div class="col-md-4">
  <a >ahora si </a>
</div>
<div class="col-md-4">
  <h1 STYLE="text-align: center">WE HELP YOU RAISE CAPITAL FROM INVESTORS</h1>
  <%= image_tag("logos/fund.jpg",width: '100%')%>
</div>

</body>
<%= yield %>



