

<div class="col-sm-2"></div>
<div class="col-md-6">
<h1>Wishlist</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Project Name</th>
    </tr>
  </thead>
  <tbody>
    <% @wishlistsprojects.each do |wishlistproject| %>
      <tr>
        <td> <%= Project.find(wishlistproject.project_id).title  %> </td>
        <td  >  <%= link_to 'Show project', project_path(wishlistproject.project_id),class: "btn btn-success"%></td>
        <td  >  <%= link_to 'Remove project', wishlist_project_path(wishlistproject.id), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

</div>
