<p id="notice"><%= notice %></p>

<div class="col-sm-2"></div>
<div class="col-md-6">
<h1>Wishlist</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @wishlistsprojects.each do |wishlistproject| %>
      <tr>
        <td><br></td>
        <td> <%= Project.find(wishlistproject.project_id).title  %> </td>
        <td  type="button" class="btn btn-success" style="color: white">  <%= link_to 'Show project', project_path(wishlistproject.project_id) %></td>
        <td  type="button" class="btn btn-success" style="color: white" ><%= link_to 'Remove project', wishlist_project_path(wishlistproject.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

</div>
