
<h2>Wishlist</h2>
<div class="btn-group-vertical">
  <a class="btn btn-primary" href="/projects/1"> EtherDog </a>
  <a class="btn btn-primary" href="/projects/2"> CleanMax </a>


</div>

<%# @wishlists.each do |wishlist| %>
<!--  <div class="col-md-6 column_container">-->
<!--    <div class="list-group">-->
<!--      <a class="list-group-item list-group-item-success active">-->
<%#= wishlist.category %>
<!--      </a>-->
<!--      <a href="#" class="list-group-item">-->
<%#= wishlist.name %>
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<%# end %>