<!DOCTYPE html>
<html>
  <head>
    <title>Fundme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-class">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1 style="color: #CCCCCC">FundMe</h1>
            </div>
            <div class="col-md-6 ">
              <header style="color: #CCCCCC">Francisco Moreira</header>
              <header style="color: #CCCCCC">Alvaro Majluf</header>
            </div>

          </div>

        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
